div.comment-area {
    margin-top:2em;


}

h3.comment-area-title   {
    border-bottom:1px solid pink;
    padding-bottom:0.4em;
}



div.django-ckeditor-widget {
    width:100%;
}

div.comment {
    border-bottom:1px dashed red;
    margin-bottom:0.5em;
    padding-bottom:0.5em;
}

div.reply {
    margin-left:2em;
}

div.like {
    color:blue;
    padding: 0.5em 0.5em;
    display:inline-block;
    cursor:pointer;
}

div.like .active {
    color:red;
}